{% extends 'app/layouts/main.html' %}

{% block main_content %}





    <div class="col-md-3 sidebar p-4">
        <nav class="navbar navbar-expand-md navbar-dark  flex-column h-100">
            <div class="ml-auto user_elem">
                {% if request.user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#collapseExample" role="button" aria-expanded="false"
                       aria-controls="collapseExample" data-bs-toggle="collapse">
                        <img src="https://via.placeholder.com/50" class="rounded-circle mr-2" alt="">
                        {{ request.user }}
                    </a>
                    <ul class="collapse" id="collapseExample">
                        <li class="dropdown-item">
                            <a href="{% url 'signup' %}" class="nav-link nav-elem">Sign up</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'logout' %}" class="nav-link nav-elem">Exit</a>
                        </li>
                    </ul>
                {% else %}
                    <a href="{% url 'signup' %}" class="nav-link d-inline">Sign up |</a>
                    <a href="{% url 'login' %}" class="nav-link d-inline">Log in</a>
                {% endif %}


            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-elem active">
                        <a class="nav-link  " href="{% url 'index' %}" >Account</a>
                    </li>

                    <li class="nav-elem nav-item">
                        <a class="nav-link" href="{% url 'cards' %}">My Cards</a>
                    </li>
                    <li class="nav-elem nav-item">
                        <a class="nav-link" href="#">Budget</a>
                    </li>

                </ul>
            </div>

            <div class="mt-auto"><a class="navbar-brand" href="#">TrackMoney</a></div>

        </nav>


    </div>


    <div class="col-md-9 content p-4">
        {% block content %}

        {% endblock %}
    </div>




{% endblock %}





