a{
    text-decoration: none;
}

body {
    height: 675px;
    background-image: linear-gradient(to right bottom, #4b4b4b, #3f3b40, #362b32, #2f1b21, #260a0a);
}

.container {
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    padding: 0;
    height: 650px;
    overflow: hidden;
}

.sidebar {
    background-image: linear-gradient(to top, #4b4b4b, #413f41, #393336, #31282a, #291d1d);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.content {
    /*background-image: linear-gradient(to right bottom, #393939, #3c3a3d, #423a3f, #493a3e, #4f3b3b);*/
    background-image: linear-gradient(to right bottom, #343334, #3c3b3c, #444345, #4d4b4d, #555356, #5a585b, #5e5c60, #636165, #666467, #686669, #6b696b, #6d6c6d);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.navbar {
    font-size: 130%;
}

.navbar-brand {
    font-size: 120%;
}

.navbar a:hover {
    color: white;
}

.navbar .nav-elem {
    list-style: disc;
    font-size: 120%;
    color: rgba(255, 255, 255, 0.51);
}

li.sub-item {
    list-style: circle;

}

.navbar .nav-elem:hover {
    transform: scale(1.15);
    color: white;
}

.user_elem {
    color: rgba(255, 255, 255, 0.51);
    font-size: 140%;
}

.user_elem li {
    list-style: circle;
    font-size: 70%;
}

/*---------------------------------CART START-------------------------------------*/

.card {
    border: none;
    border-radius: 30px;
    background-color: #46213A;
    background-image: linear-gradient(to left top, #ff4646, #ff4140, #fe3b3a, #fe3534, #fd2f2e, #fd2a2a, #fd2625, #fd2020, #fd1c1c, #fe1717, #fe1212, #fe0b0b);
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 20px 10px;
    padding: 10px;
    /*height: 200px;*/
    width: 80%;
}

.card-title {
    font-size: 24px;
}

.money, #change_money {
    font-size: 250%;
    font-weight: bold;
}

#change_money:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/*----------------------------------CART END----------------------------------*/


/*---------------------------------TRANSACTION START-------------------------------------*/

.transaction_cart {
    background-image: linear-gradient(to top, #3f3f3c, #3d3d3a, #3b3b38, #393937, #373735, #343432, #30302f, #2d2d2c, #282827, #232322, #1f1f1e, #1a1a19);
    color: #fff;
    width: 80%;
    height: 370px;
    border-radius: 30px;
    margin: 20px 10px;
    padding: 10px 30px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.form-group label {
    font-weight: bold;
}

.form-group input[type=number] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-group .btn {
    background-color: rgb(19, 19, 19);
    color: white;
}

.btn.active {
    background-color: white;
    color: black;
}

.btn-group button {
    flex: 1;
}

.form-group select {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

select option {
    background-color: #333;
    color: #fff;
}

.transaction-btn {
    background-image: linear-gradient(to left top, #ff4646, #ff4140, #fe3b3a, #fe3534, #fd2f2e, #fd2a2a, #fd2625, #fd2020, #fd1c1c, #fe1717, #fe1212, #fe0b0b);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s, transform 0.3s;
    font-size: 120%;
}

.transaction-btn:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);

}

/*----------------------------------TRANSACTION END----------------------------------*/


/*----------------------------------REGINSTER START----------------------------------*/
.register {
    width: 80%;
    margin: 0 auto;
    padding: 30px 100px 60px;
    background-image: linear-gradient(to right bottom, #726c76, #473753, #5f5764, #614871, #543466, #411e56, #4c3e54, #5e2b79, #443b49, #755a83, #4a2160, #413846);
    border-radius: 50px;
    box-shadow: 0 0 20px #000000;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}


.register .form-group {
    margin-bottom: 15px;
}

.form-control:focus {
    /*background-color: grey;*/
}

.register input {
    background-color: #2b193c;
    color: white;

}

.btn-register {
    margin-top: 30px;
    background: #ffa500;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s, transform 0.3s;
    font-size: 170%;
    font-weight: bold;
    color: white;
}

.btn-register:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    background: #ffa500;

}

/*----------------------------------REGINSTER END----------------------------------*/

.table.transaction_table{
    color:white !important;
    text-align: center;
}

#myChart{
    height: 600px !important;
}

#filterForm{
    background-color: #2a1e1f;
    color: white;
    border-radius: 20px;
}