{% extends "app/layouts/home.html" %}

{% block content %}


    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Last Transactions</h2>


            <h6>{{ transaction.date.date }}</h6>
            <table class="table transaction_table">
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.category }}</td>

                        <td class="{% if transaction.category.category_type.name == 'Expense' %}text-danger{% elif transaction.category.category_type.name == 'Income' %}text-success{% endif %}">{{ transaction.amount }}</td>
                        <td>{{ transaction.date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
        <div class="col-md-6 ">
            {% include "app/inc/card.html" %}
            {% include "app/inc/transaction.html" %}
        </div>
    </div>


{% endblock %}